.container2{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    width: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    box-shadow: 5px;
    background: rgba(225, 255, 255, 0.29);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   margin: auto; 
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 30px;
  }