
body{
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: linear-gradient(to bottom right, #939B62, #FFD56F, #FFB26B,#FF7B54);
    
    
}